html {
  display: flex;
  justify-content: center;
}

body {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  width: 800px;
}

input {
  font-size: 15px;
  background: none;
}

textarea {
  background: none;
  border: 0;
}

#inputData {
  height: 800px;
  width: 800px;
  background-color: rgb(50, 142, 248);
  padding: 10px;
}

.inputDataGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: rgb(69, 123, 204);
  padding-bottom: 40px;
  border: 1px solid black;
}

.containerFLName {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.containerEmailTel {
  display: flex;
  justify-content: space-around;
  width: 800px;
  padding-top: 30px;
}

.generalInfoDisplay {
  border: 1px solid black;
  width: 800px;
}

.inputDataEducational {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: rgb(69, 123, 204);
  margin-top: 40px;
  padding-bottom: 40px;
  border: 1px solid black;
}

.educationalInfoDisplay {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.cityAndUniversityFormat {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.test {
  border: 0;
  padding-left: 10px;
}

.containerUniCity {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.containerYearsDegree {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.year_format {
  display: flex;
  padding-right: 25px;
}

.year_from_format {
}

.degree {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 75px;
}

.additionalEducationInfo {
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  justify-content: center;
}

.additionalEducationInfoTwo {
  padding-left: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textareaOne {
  width: 300px;
  height: 50px;
}

.textareaTwo {
  width: 300px;
  height: 50px;
  margin-top: 10px;
}

#addEducation {
  margin-left: 350px;
}

::placeholder {
  color: black;
}

.input {
  padding-left: 10px;
  border: 0;
}
